
        .title,.heading1,.heading2,.heading3,.normal {
          font-family: verdana,arial;
        }
        
        .heading1 {
          margin-top: 10px;
        }
        
        .title-header .title {
          line-height: 1;
        }
        
        .title-header .heading1 {
          line-height: 0;
          font-size: 16px;
          font-weight: 100;
          color: white;
        }
        
        .rotated {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        
        .top-z {
          z-index: 999;
        }
        
        .full-width {
          width: 100%!important;
        }
        
        .product-details .heading1 {
          font-size: 24px;
          text-transform: capitalize;
          color: #ed5a3b;
          margin: 0;
        }
        
        .product-details .normal {
          color: #666666;
        }
        
        .logo {
          line-height: 40px;
          color: #666666;
          font-size: 45px;
          font-weight: 900;
          letter-spacing: -5px;
        }
        
        .keywords {
          font-size: 15px;
        }
        
        .keywords ul {
          padding: 0;
        }
        
        .keywords li {
          display: inline;
          margin-right: 10px;
        }
        
        .share-buttons {
          list-style: none;
        }
        
        .share-buttons li {
          display: inline;
        }
            
        /* 
            MOBILE
        */
        .silex-pages {
            display: none;
        }
        
        @media (max-width:480px) {
            body.enable-mobile {
                padding: 0;
            }
            .container-element {
                heig
            }
        }
    
        .silex-id-1449140257902-28 {
            cursor: auto; 
            left: 0px; 
            top: 0px; 
            background-color: rgb(163, 163, 163); 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
        }
        .silex-id-1449140257895-27 {
            top: 5px; 
            left: 55px; 
            width: 800px; 
            height: 1690px; 
            box-sizing: content-box; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1449140257885-26 {
            height: 90px; 
            width: 100px; 
            top: 0px; 
            left: 0px; 
            background-color: rgb(102, 102, 102); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257885-26 {
            top: 0px; 
            left: 0px; 
            width: 467px; 
            height: 201px; 
        }
        }.silex-id-1449140257880-25 {
            height: 20px; 
            width: 20px; 
            top: 79px; 
            left: 385px; 
            background-color: rgb(102, 102, 102); 
        }
        .silex-id-1452423140532-5 {
            height: 56px; 
            width: 56px; 
            top: 19px; 
            left: 20px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1452423140532-5 {
            height: 56px; 
            width: 56px; 
        }
        }.silex-id-1449140257874-24 {
            height: 63px; 
            width: 291px; 
            top: 26px; 
            left: 84px; 
            box-sizing: content-box; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257874-24 {
            height: 63px; 
            width: 291px; 
            box-sizing: content-box; 
            background-color: transparent; 
            top: 95px; 
            left: 160px; 
        }
        }.silex-id-1449140257863-22 {
            height: 74px; 
            width: 332px; 
            top: 10px; 
            left: 441px; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            box-sizing: content-box; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257863-22 {
            top: 121px; 
            left: 66px; 
            width: 204px; 
            height: 74px; 
        }
        }.silex-id-1449140257852-21 {
            height: 700px; 
            width: 100px; 
            top: 90px; 
            left: 0px; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            background-color: rgb(237, 90, 59); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257852-21 {
            top: 140px; 
            left: 0px; 
            width: 467px; 
            height: 1082px; 
        }
        }.silex-id-1449140257846-20 {
            height: 20px; 
            width: 20px; 
            top: 687px; 
            left: 385px; 
            background-color: rgb(237, 90, 59); 
        }
        .silex-id-1449140257822-16 {
            height: 282px; 
            width: 755px; 
            top: 26px; 
            left: 24px; 
            box-sizing: content-box; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257822-16 {
            border-color: #000000; 
        }
        }.silex-id-1449140257816-15 {
            height: 189.231px; 
            width: 252px; 
            top: 75px; 
            left: 527px; 
            box-sizing: content-box; 
            border-top-left-radius: 20px; 
            border-top-right-radius: 20px; 
            border-bottom-right-radius: 20px; 
            border-bottom-left-radius: 20px; 
            box-shadow: 0px 10px 60px -6px black; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257816-15 {
            top: 334px; 
            left: 0px; 
            width: 467px; 
            height: 215px; 
        }
        }.silex-id-1449140257838-19 {
            height: 298px; 
            width: 752px; 
            top: 323px; 
            left: 22px; 
            border-top-width: 2px; 
            border-right-width: 2px; 
            border-bottom-width: 2px; 
            border-left-width: 2px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            border-image-source: initial; 
            border-image-slice: initial; 
            border-image-width: initial; 
            border-image-outset: initial; 
            border-image-repeat: initial; 
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px; 
            border-bottom-right-radius: 5px; 
            border-bottom-left-radius: 5px; 
            box-sizing: content-box; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257838-19 {
            top: 20px; 
            left: -2px; 
            width: 467px; 
            height: 442px; 
        }
        }.silex-id-1449140257832-18 {
            height: 276px; 
            width: 227px; 
            top: 11px; 
            left: 517px; 
            border-top-width: 0px; 
            border-right-width: 0px; 
            border-bottom-width: 0px; 
            border-left-width: 1px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            line-height: 19px; 
            box-sizing: content-box; 
            background-color: transparent; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257832-18 {
            border-color: #ffffff; 
        }
        }.silex-id-1449156929046-30 {
            height: 62px; 
            width: 478px; 
            top: 11px; 
            left: 24px; 
            box-sizing: content-box; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449156929046-30 {
            top: 0px; 
            left: 0px; 
            width: 467px; 
            height: 84px; 
        }
        }.silex-id-1449140257827-17 {
            height: 217px; 
            width: 495px; 
            top: 65px; 
            left: 15px; 
            box-sizing: content-box; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257827-17 {
            border-color: #000000; 
            top: 62px; 
            left: 0px; 
            width: 467px; 
            height: 274px; 
        }
        }.silex-id-1449156340190-29 {
            height: 209px; 
            width: 206px; 
            top: 66px; 
            left: 528px; 
            box-sizing: content-box; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449156340190-29 {
            top: 322px; 
            left: 0px; 
            width: 467px; 
            height: 106px; 
        }
        }.silex-id-1449140257810-14 {
            height: 55px; 
            width: 259px; 
            top: 629px; 
            left: 268px; 
            box-sizing: content-box; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257810-14 {
            top: 1017px; 
            left: 46px; 
            width: 284px; 
            height: 55px; 
        }
        }.silex-id-1449140257798-12 {
            height: 101px; 
            width: 100px; 
            top: 850px; 
            left: 420px; 
        }
        .silex-id-1449140257781-9 {
            height: 132px; 
            width: 259px; 
            top: 845px; 
            left: 147px; 
            box-sizing: content-box; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257781-9 {
            top: 1222px; 
            left: 162px; 
            width: 285px; 
            height: 132px; 
        }
        }.silex-id-1449140257787-10 {
            height: 100px; 
            width: 100px; 
            top: 850px; 
            left: 25px; 
        }
        .silex-id-1449140257771-8 {
            height: 132px; 
            width: 258px; 
            top: 845px; 
            left: 544px; 
            box-sizing: content-box; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257771-8 {
            width: 283px; 
            top: 1354px; 
            left: 162px; 
            height: 132px; 
        }
        }.silex-id-1449140257804-13 {
            height: 63px; 
            width: 100px; 
            top: 1047px; 
            left: 25px; 
            box-sizing: content-box; 
        }
        .silex-id-1449140257765-7 {
            height: 148px; 
            width: 263px; 
            top: 1042px; 
            left: 146px; 
            box-sizing: content-box; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257765-7 {
            top: 1486px; 
            left: 164px; 
            width: 281px; 
            height: 148px; 
        }
        }.silex-id-1449140257793-11 {
            height: 66px; 
            width: 100px; 
            top: 1044px; 
            left: 420px; 
            box-sizing: content-box; 
        }
        .silex-id-1449140257760-6 {
            height: 149px; 
            width: 258px; 
            top: 1042px; 
            left: 543px; 
            box-sizing: content-box; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257760-6 {
            top: 1634px; 
            left: 163px; 
            width: 283px; 
            height: 149px; 
        }
        }.silex-id-1449140257754-5 {
            height: 20px; 
            width: 20px; 
            top: 990px; 
            left: 385px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1449140257748-4 {
            height: 246px; 
            width: 800px; 
            top: 1200px; 
            left: 0px; 
            box-sizing: content-box; 
            background-color: rgb(53, 73, 94); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257748-4 {
            top: 1783px; 
            left: 0px; 
            width: 467px; 
            height: 361px; 
        }
        }.silex-id-1449140257742-3 {
            height: 117px; 
            width: 367px; 
            top: 25px; 
            left: 25px; 
            box-sizing: content-box; 
            background-color: transparent; 
        }
        .silex-id-1449140257688-2 {
            height: 144px; 
            width: 367px; 
            top: 25px; 
            left: 413px; 
            box-sizing: content-box; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257688-2 {
            top: 117px; 
            left: 1px; 
            width: 193px; 
            height: 144px; 
        }
        }.silex-id-1449140257687-1 {
            height: 79px; 
            width: 265px; 
            top: 139px; 
            left: 25px; 
        }
        .silex-id-1449140257685-0 {
            height: 256px; 
            width: 800px; 
            top: 1444px; 
            left: 0px; 
            box-sizing: content-box; 
            background-color: rgb(163, 163, 163); 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
        }
    