
        .title,.heading1,.heading2,.heading3,.normal{font-family:verdana,arial;}.heading1{margin-top:10px;}.title-header .title{line-height:1;}.title-header .heading1{line-height:0;font-size:16px;font-weight:100;color:white;}.rotated{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}.top-z{z-index:999;}.full-width{width:100%!important;}.product-details .heading1{font-size:24px;text-transform:capitalize;color:#ed5a3b;margin:0;}.product-details .normal{color:#666666;}.logo{line-height:40px;color:#666666;font-size:45px;font-weight:900;letter-spacing:-5px;}.keywords{font-size:15px;}.keywords ul{padding:0;}.keywords li{display:inline;margin-right:10px;}.share-buttons{list-style:none;}.share-buttons li{display:inline;}.silex-pages{display:none;}@media (max-width:480px) {body.enable-mobile{padding:0;}.container-element{heig}}
    
        .silex-id-1449140257902-28 {
            cursor: auto; 
            left: 0px; 
            top: 0px; 
            background-color: rgb(163, 163, 163); 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            border-color: #000000; 
        }
        .silex-id-1449140257895-27 {
            top: 5px; 
            left: 55px; 
            width: 800px; 
            box-sizing: content-box; 
            background-color: rgb(255, 255, 255); 
            min-height: 1690px; 
        }
        .silex-id-1449140257885-26 {
            width: 100px; 
            top: 0px; 
            left: 0px; 
            background-color: rgb(102, 102, 102); 
            min-height: 90px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257885-26 {
            top: 0px; 
            left: 0px; 
            width: 467px; 
            min-height: 201px; 
        }
        }.silex-id-1452423140532-5 {
            width: 56px; 
            top: 19px; 
            left: 20px; 
            min-height: 56px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1452423140532-5 {
            width: 56px; 
            min-height: 56px; 
            left: 253px; 
            top: 3052px; 
        }
        }.silex-id-1449140257880-25 {
            width: 20px; 
            top: 79px; 
            left: 385px; 
            background-color: rgb(102, 102, 102); 
            min-height: 20px; 
        }
        .silex-id-1449140257874-24 {
            width: 291px; 
            top: 26px; 
            left: 84px; 
            box-sizing: content-box; 
            background-color: transparent; 
            min-height: 63px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257874-24 {
            width: 245px; 
            top: 69px; 
            left: 144px; 
            min-height: 63px; 
            box-sizing: content-box; 
            background-color: transparent; 
        }
        }.silex-id-1449140257863-22 {
            width: 332px; 
            top: 10px; 
            left: 441px; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            box-sizing: content-box; 
            min-height: 74px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257863-22 {
            top: 121px; 
            left: 66px; 
            width: 204px; 
            min-height: 74px; 
        }
        }.silex-id-1449140257852-21 {
            width: 100px; 
            top: 90px; 
            left: 0px; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            background-color: rgb(237, 90, 59); 
            min-height: 720px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257852-21 {
            top: 140px; 
            left: 0px; 
            width: 467px; 
            min-height: 1082px; 
        }
        }.silex-id-1449140257846-20 {
            width: 20px; 
            top: 697px; 
            left: 385px; 
            background-color: rgb(237, 90, 59); 
            min-height: 20px; 
        }
        .silex-id-1449140257822-16 {
            width: 755px; 
            top: 26px; 
            left: 24px; 
            box-sizing: content-box; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 282px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257822-16 {
            border-color: #000000; 
        }
        }.silex-id-1449140257816-15 {
            width: 252px; 
            top: 45px; 
            left: 527px; 
            box-sizing: content-box; 
            border-top-left-radius: 20px; 
            border-top-right-radius: 20px; 
            border-bottom-right-radius: 20px; 
            border-bottom-left-radius: 20px; 
            box-shadow: 0px 10px 60px -6px black; 
            min-height: 189.231px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257816-15 {
            top: 334px; 
            left: 0px; 
            width: 467px; 
            min-height: 215px; 
        }
        }.silex-id-1449140257838-19 {
            width: 752px; 
            top: 283px; 
            left: 22px; 
            border-top-width: 2px; 
            border-right-width: 2px; 
            border-bottom-width: 2px; 
            border-left-width: 2px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            border-image-source: initial; 
            border-image-slice: initial; 
            border-image-width: initial; 
            border-image-outset: initial; 
            border-image-repeat: initial; 
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px; 
            border-bottom-right-radius: 5px; 
            border-bottom-left-radius: 5px; 
            box-sizing: content-box; 
            background-color: transparent; 
            min-height: 351px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257838-19 {
            top: 20px; 
            left: -2px; 
            width: 467px; 
            min-height: 442px; 
        }
        }.silex-id-1449156929046-30 {
            width: 478px; 
            top: 11px; 
            left: 24px; 
            box-sizing: content-box; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 62px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449156929046-30 {
            top: 0px; 
            left: 0px; 
            width: 467px; 
            min-height: 84px; 
        }
        }.silex-id-1449140257827-17 {
            width: 495px; 
            top: 65px; 
            left: 15px; 
            box-sizing: content-box; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 247px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257827-17 {
            border-color: #000000; 
            top: 62px; 
            left: 0px; 
            width: 467px; 
            min-height: 274px; 
        }
        }.silex-id-1449140257832-18 {
            width: 227px; 
            top: 11px; 
            left: 517px; 
            border-top-width: 0px; 
            border-right-width: 0px; 
            border-bottom-width: 0px; 
            border-left-width: 1px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            line-height: 19px; 
            box-sizing: content-box; 
            background-color: transparent; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            border-color: #000000; 
            min-height: 324px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257832-18 {
            border-color: #000000; 
            top: 0px; 
            left: 9px; 
            width: 380px; 
            min-height: 54px; 
        }
        }.silex-id-1449156340190-29 {
            width: 206px; 
            top: 66px; 
            left: 528px; 
            box-sizing: content-box; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 209px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449156340190-29 {
            top: 322px; 
            left: 0px; 
            width: 467px; 
            min-height: 106px; 
        }
        }.silex-id-1449140257810-14 {
            width: 259px; 
            top: 654px; 
            left: 268px; 
            box-sizing: content-box; 
            background-color: transparent; 
            min-height: 55px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257810-14 {
            top: 1017px; 
            left: 46px; 
            width: 284px; 
            min-height: 55px; 
        }
        }.silex-id-1449140257798-12 {
            width: 100px; 
            top: 850px; 
            left: 420px; 
            min-height: 101px; 
        }
        .silex-id-1449140257781-9 {
            width: 259px; 
            top: 845px; 
            left: 147px; 
            box-sizing: content-box; 
            background-color: transparent; 
            min-height: 132px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257781-9 {
            top: 1222px; 
            left: 162px; 
            width: 285px; 
            min-height: 132px; 
        }
        }.silex-id-1449140257787-10 {
            width: 100px; 
            top: 850px; 
            left: 25px; 
            min-height: 100px; 
        }
        .silex-id-1449140257771-8 {
            width: 258px; 
            top: 845px; 
            left: 544px; 
            box-sizing: content-box; 
            background-color: transparent; 
            min-height: 132px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257771-8 {
            width: 283px; 
            top: 1354px; 
            left: 162px; 
            min-height: 132px; 
        }
        }.silex-id-1449140257804-13 {
            width: 100px; 
            top: 1047px; 
            left: 25px; 
            box-sizing: content-box; 
            min-height: 63px; 
        }
        .silex-id-1449140257765-7 {
            width: 263px; 
            top: 1042px; 
            left: 146px; 
            box-sizing: content-box; 
            background-color: transparent; 
            min-height: 148px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257765-7 {
            top: 1486px; 
            left: 164px; 
            width: 281px; 
            min-height: 148px; 
        }
        }.silex-id-1449140257793-11 {
            width: 100px; 
            top: 1044px; 
            left: 420px; 
            box-sizing: content-box; 
            min-height: 66px; 
        }
        .silex-id-1449140257760-6 {
            width: 258px; 
            top: 1042px; 
            left: 543px; 
            box-sizing: content-box; 
            background-color: transparent; 
            min-height: 149px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257760-6 {
            top: 1634px; 
            left: 163px; 
            width: 283px; 
            min-height: 149px; 
        }
        }.silex-id-1449140257754-5 {
            width: 20px; 
            top: 990px; 
            left: 385px; 
            background-color: rgb(255, 255, 255); 
            min-height: 20px; 
        }
        .silex-id-1449140257748-4 {
            width: 800px; 
            top: 1200px; 
            left: 0px; 
            box-sizing: content-box; 
            background-color: rgb(53, 73, 94); 
            min-height: 246px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257748-4 {
            top: 1783px; 
            left: 0px; 
            width: 467px; 
            min-height: 361px; 
        }
        }.silex-id-1449140257742-3 {
            width: 367px; 
            top: 25px; 
            left: 25px; 
            box-sizing: content-box; 
            background-color: transparent; 
            min-height: 117px; 
        }
        .silex-id-1449140257688-2 {
            width: 367px; 
            top: 25px; 
            left: 413px; 
            box-sizing: content-box; 
            background-color: transparent; 
            min-height: 144px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1449140257688-2 {
            top: 117px; 
            left: 1px; 
            width: 193px; 
            min-height: 144px; 
        }
        }.silex-id-1449140257687-1 {
            width: 265px; 
            top: 139px; 
            left: 25px; 
            min-height: 79px; 
        }
        .silex-id-1449140257685-0 {
            width: 800px; 
            top: 1444px; 
            left: 0px; 
            box-sizing: content-box; 
            background-color: rgb(163, 163, 163); 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 256px; 
        }
    